# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc

# Environment Variables
.env

# VS Code
.vscode/

# Logs
logs/

# Data Cache
data/cache/

# Jupyter
.ipynb_checkpoints/

# Windows
Thumbs.db
Desktop.ini